<form [formGroup]="form">
    <div class="form-group">
        <label for="old-password">Old Password</label>
        <input formControlName="oldPassword" id="old-password" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
            <div *ngIf="oldPassword.errors?.required">Old Password is Required!</div>
            <div *ngIf="oldPassword.errors?.minlength">Password should be more than {{oldPassword.errors?.minlength.requiredLength}} characters</div>
            <div *ngIf="oldPassword.errors?.maxlength">Password should be less than {{oldPassword.errors?.maxlength.requiredLength}} characters</div>

            <div *ngIf="oldPassword.errors?.cannotContainSpace">Password should not contain any spaces.</div>
            <div *ngIf="oldPassword.errors?.wrongPassword">Old password is incorrect.</div>


        </div>

    </div>
    <div class="form-group">
        <label for="new-password">New Password</label>
        <input formControlName="newPassword" id="new-password" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
            <div *ngIf="newPassword.errors?.required">New Password is Required!</div>
            <div *ngIf="newPassword.errors?.minlength">Password should be more than {{newPassword.errors?.minlength.requiredLength}} characters</div>
            <div *ngIf="newPassword.errors?.maxlength">Password should be less than {{newPassword.errors?.maxlength.requiredLength}} characters</div>
            <div *ngIf="newPassword.errors?.cannotContainSpace">Password should not contain any spaces</div>
            <div *ngIf="newPassword.errors?.pattern">Password should contain at least one number or [A-Z] or [a-z] or $@$!%*?& symbols</div>



        </div>

    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm New Password</label>
        <input formControlName="confirmPassword" id="confirm-password" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <div *ngIf="confirmPassword.errors?.required">Confirm New Password is Required!</div>
            <div *ngIf="confirmPassword.errors?.minlength">Password should be more than {{confirmPassword.errors?.minlength.requiredLength}} characters</div>
            <div *ngIf="confirmPassword.errors?.maxlength">Password should be less than {{confirmPassword.errors?.maxlength.requiredLength}} characters</div>

            <div *ngIf="confirmPassword.errors?.cannotContainSpace">Password should not contain any spaces</div>
            <!-- <div *ngIf="f.confirmPassword.errors?.shouldMatch">Password should match new one</div> -->
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="confirmPassword.valid &&form.invalid && form.errors?.shouldMatch">
        <!-- <div class="alert alert-danger" *ngIf="f.confirmPassword.value !== f.newPassword.value"> -->

        Passwords doesn't match!
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save</button>
</form>